<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VetNet</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
  <header>
    <div class="header-content">
      <div class="logo">
        <img src="../img/logo-vetnet.png" class="logoHeader" />
      </div>
      <nav>    
        <a href="/cliente/all">USUARIOS</a>
        <a href="/cliente/logout">Cerrar sesion</a>
      </nav>
    </div>
  </header>

    <main class="content">
        <section class="listado">
            <div class="intro-text">
                <h1>Usuarios registrados</h1>
            </div>

            <table class="tabla">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Cédula</th>
                        <th>Celular</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente : ${clientes}">
                        <td th:text="${cliente.nombre}"></td>
                        <td th:text="${cliente.correo}"></td>
                        <td th:text="${cliente.cedula}"></td>
                        <td th:text="${cliente.celular}"></td>
                        <td>
                            <a th:href="@{/cliente/modificar/{id}(id=${cliente.id})}">Modificar</a>
                            <a th:href="@{/cliente/eliminar/{id}(id=${cliente.id})}"
                               onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">
                               Eliminar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </section>
    </main>

    <footer>
        <div class="footer-content">
          <div class="footer-info">
            <p>&copy;VetNet</p>
            <p>Dirección: Calle Ejemplo #123, Bogotá, Colombia</p>
            <p>Teléfono:(601) 3114583672</p>
            <p>Email: vetnet@gmail.com</p>
          </div>
          <div class="footer-social">
            <a
              class="iconoFooter"
              href="https://www.facebook.com/tuempresa"
              target="_blank"
              title="Facebook"
            >
              <img src="../img/facebook.png" height="50" />
            </a>
            <a
              class="iconoFooter"
              href="https://www.instagram.com/tuempresa"
              target="_blank"
              title="Instagram"
            >
              <img src="../img/instagram.png" height="50" />
            </a>
            <a
              class="iconoFooter"
              href="https://www.twitter.com/tuempresa"
              target="_blank"
              title="X"
            >
              <img src="../img/x.png" height="50" />
            </a>
          </div>
        </div>
      </footer>
</body>
</html>

