<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VetNet</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="../js/form-validation.js"></script>
  </head>
  <body>
    <header>
      <div class="header-content">
        <div class="logo">
          <img src="../img/logo-vetnet.png" class="logoHeader" />
        </div>
        <nav>
          <a href="/index">INICIO</a>
          <a href="/servicios">SERVICIOS</a>    
          <a href="/clinica">CLINICA</a>     
          <a href="/mascota/all">LISTA DE MASCOTAS</a>
          <a href="/cliente/all">USUARIOS</a>
        </nav>
      </div>
    </header>
    <main class="content">
      <section class="intro">
        <div class="intro-text">
          <h1>La mejor atención a tu disposición</h1>
          <img src="../img/jhony.jpg" class="intro-image" alt="Mascota" />
        </div>
      </section>
      <hr />
      <section class="about_us">
        <h1>Quienes somos?</h1>
        <p>Somos una veterinaria que entiende que una mascota no es un simple animal. 
        Es tu hij@, herman@, tu mejor amig@, es por esto que cada que se necesita un buen tratamiento
        para tu mascota, no descansamos hasta que tu amigo peludo quede en las mejores condiciones, que
        reciba la atención que merece.</p>
      </section>
      <hr />

      <section class="clinic">
        <h1>Nos encuentras todos los días</h1>
          <div class="clinic-hours">
            <h2>Horarios</h2>
            <p>Lunes a Sabado: 8:00 AM - 9:00 PM</p>
            <p>Domingo: 9:00 AM - 6:00 PM</p>
          </div>
        </div>
      </section>
    </main>
    <hr />
    <footer>
      <div class="footer-content">
        <div class="footer-info">
          <p>&copy;VetNet</p>
          <p>Dirección: Calle Ejemplo #123, Bogotá, Colombia</p>
          <p>Teléfono:(601) 3114583672</p>
          <p>Email: vetnet@gmail.com</p>
        </div>
        <div class="footer-social">
          <a
            class="iconoFooter"
            href="https://www.facebook.com/tuempresa"
            target="_blank"
            title="Facebook"
          >
            <img src="../img/facebook.png" height="50" />
          </a>
          <a
            class="iconoFooter"
            href="https://www.instagram.com/tuempresa"
            target="_blank"
            title="Instagram"
          >
            <img src="../img/instagram.png" height="50" />
          </a>
          <a
            class="iconoFooter"
            href="https://www.twitter.com/tuempresa"
            target="_blank"
            title="X"
          >
            <img src="../img/x.png" height="50" />
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
